.link-tools .tool-remove { display: none }
.marker-arrowhead {display:none}
.tool-options {display:none}
*{
    margin:0;
    padding:0;
}
:root{
    font-family: monospace;
    font-size: 20px;
    margin:0;
    border:0;
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}
a {
  text-decoration:none;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
body {
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	width: 1170px;
	margin: auto;
}
header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://i.postimg.cc/YjcJg24M/aa.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
  border: 1px solid gray;
  border-radius: 20px;
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.logo {
	float: left;
}
.logo img {
	width: 100%;
	padding: 15px 0;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h1 span {
	color: #00fecb;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}
.music{
  display:none;
}

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width: ;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}
#projects{
    padding: 50px;
    align-items: center;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(to right, #ff9999, #ffb266 , #ff9999 );
  background-size: 800px 100%;
  background-position: 50% 100%;
  background-color: #ff9999;
  background-repeat: no-repeat;
}
#projects h1{
    color: white;
    font-size: 50px;
    padding: 5px;
    border-bottom: 0.25rem solid;
}
.projects-grid{
    display:grid;
    grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    align-items: center;
    margin:20px;
  align-self: center;
  justify-self: center;
}
.project-image{
  -webkit-filter: grayscale(100%) blur(2px);
    filter: grayscale(100%) blur(2px);
    width: 40vw;
    height: 10vw;
    margin-top: 2rem;
    padding-bottom:0;
    border-radius: 10px;
  padding-bottom:10px;
}
.project-image:hover{
    -webkit-filter: grayscale(0%) blur(0px);
    filter: grayscale(0%) blur(0px);
    width: 40vw;
    height: 10vw;
    padding-bottom:0;
    border-radius: 10px;
  padding-bottom:10px;
}
.project-image1:hover{
    -webkit-filter: grayscale(0%) blur(0px);
    filter: grayscale(0%) blur(0px);
    width: 30vw;
    height: 20vw;
    margin-top: 2rem;
   padding-bottom:10px;
  border-radius: 10px;
}
.project-image1{
  -webkit-filter: grayscale(100%) blur(2px);
    filter: grayscale(100%) blur(2px);
    width: 30vw;
    height: 20vw;
    margin-top: 2rem;
    padding-bottom:10px;
  border-radius: 10px;
}
.project-image2:hover{
    -webkit-filter: grayscale(0%) blur(0px);
    filter: grayscale(0%) blur(0px);
    width: 40vw;
    height: 20vw;
    margin-top: 2rem;
    padding-bottom:0;
  border-radius: 10px;
  margin-bottom:10px;
}
.project-image2{
-webkit-filter: grayscale(100%) blur(2px);
    filter: grayscale(100%) blur(2px);
  width: 40vw;
    height: 20vw;
    margin-top: 2rem;
    padding-bottom:0;
  border-radius: 10px;
  margin-bottom:10px;
}
.project-title{
    background-color: #303841;
    width: 25vw;
    color: white;
    text-decoration: none;
    padding: 1.1em 0.3em 1.2em 0.3em;
    margin-left: 32vw;
    border-radius: 5px;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}